#!/usr/bin/make -f
DEB_BUILDDIR:=build-dir
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

install/mpc::
	cd debian/mpc &&  rm -fr usr/share/doc/mpc

	# dunno why autotools puts stuff here, forwarded to upstream
	-rmdir --ignore-fail-on-non-empty \
	  debian/$(DEB_SOURCE_PACKAGE)/usr/share/$(DEB_SOURCE_PACKAGE)
	
	# the shell scripts are in the usr/share/doc/examples dir:

# uncomment as needed for user customization:

#DEB_CONFIGURE_USER_FLAGS += --disable-iconv  #  disable iconv support

# Use as host when MPD_HOST environment variable is not set
#DEB_CONFIGURE_USER_FLAGS += --with-default-host=HOST

# Use as port when MPD_PORT environment variable is not set
#DEB_CONFIGURE_USER_FLAGS += --with-default-port=PORT
